<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Orders</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/header-foooter.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Sans:wght@700&display=swap"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </head>

  <body>
    <div class="header-container"><%- include('header') %></div>

    <main>
      
      <section class="driver-order-main">
        <h1>Order List</h1>
        <div class="driver-order-list">
          <% for (let currItem of orders) { %>
          <div class="driver-order-item">
              <form method="POST" action="/accept-order/<%= currItem._id %>">
                <div>
                    <p><span>Customer Name: </span><%= currItem.customerName %></h2>
                    <p><span>Address: </span> <%= currItem.deliveryAddress %></p>
                    <p><span>Total Price: </span> $<%= currItem.totalWithTax.toFixed(2) %></p>
                </div>
                <button class="accept-btn">Accept Order</button>
            </form>
          </div>
          <% } %>
        </div>
      </section>
    </main>

    <div class="footer-container"><%- include('footer') %></div>
  </body>
</html>
